@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple: var(--purple);
  --color-darkpurple: var(--darkpurple);
  --color-grey: var(--grey);
  --font-bricolage: var(--font-bricolage);
  --font-dmsans: var(--font-dmsans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --purple: #4657d9;
    --darkpurple: #02012b;
    --grey: #25253f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
